<nav class="menu" id="menu_aside">
  <ul class="menu-list">
    <li><a href="#" class="menu-link">Home</a></li>
    <li><a href="#" class="menu-link">Inicio</a></li>
    <li><a href="#" class="menu-link">About</a></li>
    <li><a href="#" class="menu-link">Contact</a></li>
  </ul>
</nav>

<hr>

<button (click)="filtrar()" [disabled]="!activo">Filtrar</button>
<button (click)="resetear()" [disabled]="activo">Resetear</button>

<input type="color" name="color" id="color" (change)="cambiarColor()" value="#ffe600">