<main class="main">

    <article class="card-article">
        <img src="Portatil-1.png" alt="">
        <h3>Lenovo</h3>
        <h1>Lenovo Gamer 5090 RTX</h1>
        <p>$11.300.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

    <article class="card-article">
        <img src="Mazda.png" alt="">
        <h3>Mitsubishi Motors</h3>
        <h1>Mitsubishi New L200 Triton Mecanica</h1>
        <p>$209.900.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

    <article class="card-article">
        <img src="Portatil-1.png" alt="">
        <h3>Lenovo</h3>
        <h1>Lenovo Gamer 5090 RTX</h1>
        <p>$11.300.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

    <article class="card-article">
        <img src="Mazda.png" alt="">
        <h3>Mitsubishi Motors</h3>
        <h1>Mitsubishi New L200 Triton Mecanica</h1>
        <p>$209.900.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

    <article class="card-article">
        <img src="Portatil-1.png" alt="">
        <h3>Lenovo</h3>
        <h1>Lenovo Gamer 5090 RTX</h1>
        <p>$11.300.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

    <article class="card-article">
        <img src="Mazda.png" alt="">
        <h3>Mitsubishi Motors</h3>
        <h1>Mitsubishi New L200 Triton Mecanica</h1>
        <p>$209.900.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

    <article class="card-article">
        <img src="Portatil-1.png" alt="">
        <h3>Lenovo</h3>
        <h1>Lenovo Gamer 5090 RTX</h1>
        <p>$11.300.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

    <article class="card-article">
        <img src="Mazda.png" alt="">
        <h3>Mitsubishi Motors</h3>
        <h1>Mitsubishi New L200 Triton Mecanica</h1>
        <p>$209.900.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

    <article class="card-article">
        <img src="Mazda.png" alt="">
        <h3>Mitsubishi Motors</h3>
        <h1>Mitsubishi New L200 Triton Mecanica</h1>
        <p>$209.900.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

    <article class="card-article">
        <img src="Portatil-1.png" alt="">
        <h3>Lenovo</h3>
        <h1>Lenovo Gamer 5090 RTX</h1>
        <p>$11.300.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

    <article class="card-article">
        <img src="Mazda.png" alt="">
        <h3>Mitsubishi Motors</h3>
        <h1>Mitsubishi New L200 Triton Mecanica</h1>
        <p>$209.900.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

    <article class="card-article">
        <img src="Mazda.png" alt="">
        <h3>Mitsubishi Motors</h3>
        <h1>Mitsubishi New L200 Triton Mecanica</h1>
        <p>$209.900.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

    <article class="card-article">
        <img src="Portatil-1.png" alt="">
        <h3>Lenovo</h3>
        <h1>Lenovo Gamer 5090 RTX</h1>
        <p>$11.300.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

    <article class="card-article">
        <img src="Mazda.png" alt="">
        <h3>Mitsubishi Motors</h3>
        <h1>Mitsubishi New L200 Triton Mecanica</h1>
        <p>$209.900.000</p>
        <h3>Villavicencio - Meta</h3>
    </article>

</main>