.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    margin: 10px;
}

app-aside {
    grid-area: 1 / 1 / 3 / 2;
}

app-home {
    grid-area: 1 / 2 / 3 / 4;
}